@import "tailwindcss";

*{
  font-family: 'Poppins', sans-serif;
  
}
.ibm-font {
  font-family: 'IBM Plex Sans', serif;
}
.border-gradient {
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #131b4c, #192153, #21295a);
}

 .rounded-b-hero {
  border-bottom-left-radius: 600% 1000px;
  border-bottom-right-radius: 600% 1000px;
}

